$logo-width-desktop: 236px;
$logo-height-desktop: 38px;
$logo-width-mobile: 250px;
$logo-height-mobile: 40px;
$black: #000000;
$white: #FFFFFF;
$font-family: 'Josefin Sans', sans-serif;
$burger-width: 27px;
$burger-height: 21px;
$button-width: 85px;
$button-height: 16px;

$primary-color: #004643;
$secondary-color: #006d5b;
$card-p-font: 0.9 rem;
$card-h3-font: 1.5rem;
$gap: 20px;
$family-font: "Josefin Sans";
