// header
$logo-width-desktop: 236px;
$logo-height-desktop: 38px;
$logo-width-mobile: 250px;
$logo-height-mobile: 40px;
$black: #000000;
$white: #ffffff;
$font-family: "Josefin Sans", sans-serif;
$burger-width: 27px;
$burger-height: 21px;
$button-width: 85px;
$button-height: 16px;

// first-section
$h4-font: "Cedarville Cursive";
$background-color: rgba(227, 235, 231, 0.5);

// carousel
$primary-color: #004643;
$secondary-color: #006d5b;
$card-p-font: 0.9 rem;
$card-h3-font: 1.5rem;
$gap: 20px;
